@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information for the testing.</p>
<p>Test the code coverage and the test cases or code change pointed the test cases.</p>
<p>Build validation test</p>
<p>Testing of the CI and CD</p>
<p>Testing of production environment</p>
<p>Testing of QA environment</p>

<p>New Testing on Varibles in QA and Production</p>